<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CFC1F4F2883BA7C0017F6F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CFC1F5F2883BA7D0017F6F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CFC1F692883BA7E0017F6F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
