<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>3747078C-5553-4E28-BC3B-8461FB516B59.playgroundpage</string>
		<string>E7222A6C-3743-49C9-8ED9-2C3AA6F775AD.playgroundpage</string>
		<string>B5A98AF7-E854-48C9-91CA-4AE5FF5589B8.playgroundpage</string>
		<string>1D6CED14-1345-43BF-BF1C-CD9EDB0B3F09.playgroundpage</string>
		<string>6B63B65F-B6CA-4648-9D1F-E473016F53AA.playgroundpage</string>
	</array>
</dict>
</plist>
